# Text Mining the Web
- @author Danny Lam
- created on May 28, 2020

#### For this project, I will use BeautifulSoup to web scrape data from Craigslist.org.
- I will be search for BMWs for sale in the Los Angeles area. 
- I narrowed my search to a minimum of 1 dollar because lots of people create listings started with 0 dollar for some reason.
- After exporting my data to an excel file, I will analyze, visualize, and draw conclusions on Tableau.

- Some issues I ran into while working on this project was learning how to use python to properly retreive the desired data from Craigslist. 
- Overall, I had a lot of fun working on this project!!

In [1]:
# import libraries 
from bs4 import BeautifulSoup #fetch the html content of the webpage
import requests #makes request to website to web scrape data

import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
# create empty dictionary to hold my craiglist search entries
bmw_dict = {}

#set counter to 0 for dictionary to later correspond to the index
bmw_count = 0

#specify url
url = 'https://losangeles.craigslist.org/search/cto?sort=date&min_price=3000&auto_make_model=bmw&min_auto_miles=1&condition=10&condition=20&condition=30&condition=40&condition=50&condition=60&auto_paint=1&auto_paint=2&auto_paint=20&auto_paint=3&auto_paint=4&auto_paint=5&auto_paint=6&auto_paint=7&auto_paint=8&auto_paint=9&auto_paint=10'

In [3]:
while True:
    #set user-agent header
    headers = {'user-agent':'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.61 Safari/537.36'}
    
    # connect with webpage, taking the data and using BeautifulSoup to parse the html
    response = requests.get(url, headers=headers, timeout=5)
    data = response.text
    # parse the html of url using beautiful soup and store in variable soup
    soup = BeautifulSoup(data,'html.parser')
    
    #include all subclasses of this parent class and store in variable jobs
    bmws = soup.find_all('p',{'class':'result-info'})
    
    #for loop to retreive all data from website using BeautifulSoup
    for bmw in bmws:
        #set the attributes to null because there will be missing data on some listings
        condition=np.nan
        mileage=np.nan
        color=np.nan
        status=np.nan
        transmission=np.nan
        type=np.nan
        
        #get location of car listing
        location_tag = bmw.find('span',{'class':'result-hood'})
        #get location without the symbols on craigslist
        location = location_tag.text[2:-1] if location_tag else "N/A"
        
        #get the links of each car listing 
        link = bmw.find('a', {'class': 'result-title'}).get('href')
        
        #once I get the link I will make a new connection and parse with beautiful soup
        bmw_response = requests.get(link)
        bmw_data = bmw_response.text
        bmw_soup = BeautifulSoup(bmw_data, 'html.parser')
        
        #add title and price of each car listing
        title = bmw_soup.find('span', {'id':'titletextonly'}).text
        price_tag = bmw_soup.find('span', {'class':'price'})
        #get the price without the '$' symbol
        price = price_tag.text[1:]
        
        # collect the atributes of the cars
        att = bmw_soup.find_all('p',{'class':'attrgroup'})
        
        # run all the attributes in text form and loop them 
        for p in att:
            for s in p.find_all('span'):
                #split the attributes and when key matches string, then assign the value to key
                try:
                    key = s.text.split(sep=':')[0] #key is assigned to string before split
                    value = s.text.split(sep=':')[1] #value is assigned to string after split
                    if key=='condition':
                        condition=value
                    elif key=='odometer':
                        mileage=value
                    elif key=='paint color':
                        color=value
                    elif key=='title status':
                        status=value
                    elif key=='transmission':
                        transmission=value
                    elif key =='type':
                        type = value
                except:
                    pass
    
        # load up the dictionary with the columns and add 1 to counter
        bmw_dict[bmw_count] = [title, price, location, condition, mileage, color, status, transmission, type]
        bmw_count+=1

        
    # add the next page of craigslist to get more data    
    url_tag = soup.find('a',{'title':'next page'})
    if url_tag.get('href'):
        url= 'https://losangeles.craigslist.org' + url_tag.get('href')
        print(url)
    else:
        break

https://losangeles.craigslist.org/search/cto?s=120&auto_make_model=bmw&auto_paint=1&auto_paint=10&auto_paint=2&auto_paint=20&auto_paint=3&auto_paint=4&auto_paint=5&auto_paint=6&auto_paint=7&auto_paint=8&auto_paint=9&condition=10&condition=20&condition=30&condition=40&condition=50&condition=60&min_auto_miles=1&min_price=3000&sort=date
https://losangeles.craigslist.org/search/cto?s=240&auto_make_model=bmw&auto_paint=1&auto_paint=10&auto_paint=2&auto_paint=20&auto_paint=3&auto_paint=4&auto_paint=5&auto_paint=6&auto_paint=7&auto_paint=8&auto_paint=9&condition=10&condition=20&condition=30&condition=40&condition=50&condition=60&min_auto_miles=1&min_price=3000&sort=date

In [4]:
#print total BMWs listed
print("Total BMWs:", bmw_count)

Total BMWs: 274

In [5]:
# put all data into a dataframe using our dictionary
bmw_df = pd.DataFrame.from_dict(bmw_dict, orient = 'index', columns = ['Title',
                                                                        'Price',
                                                                        'Location', 
                                                                        'Condition', 
                                                                        'Mileage',
                                                                        'Color',
                                                                        'Car Status',
                                                                        'Transmission',
                                                                        'Car Type'])


bmw_df

,Title,Price,Location,Condition,Mileage,Color,Car Status,Transmission,Car Type
0,2013 BMW 335i,9999,Long Beach,good,137000,black,clean,automatic,sedan
1,2009 BMW 328i Sedan 4D,6500,ARTS DISTRICT,excellent,238000,black,clean,automatic,sedan
2,1995 BMW M3,12500,Chatsworth,good,10100,black,clean,manual,coupe
3,bmw 535i GT 2011 white clean title engine check,8000,sun valley,excellent,124000,white,clean,automatic,sedan
4,2006 BMW M6(IMMACULATE AND LOW MILES),27000,Beverly Hills,like new,35000,red,clean,automatic,coupe
5,2003 BMW 530i E39 M-Sport Sedan Low Mile’s Ori...,5800,Reseda,excellent,90000,silver,clean,automatic,sedan
6,2013 BMW 328i luxury PKG,7500,Sunland,excellent,120010,white,clean,automatic,sedan
7,1987 BMW E30 325i convertible,6000,Hawthorne,good,177000,white,clean,automatic,convertible
8,2012 BMW 328 i 3 series CLEAN TITLE 87K MILES ...,9500,Costa Mesa,excellent,87000,white,clean,automatic,sedan
9,2004 BMW 530 i,5750,N/A,excellent,84723,grey,clean,automatic,sedan
10,2003 BMW 530i E39 M-Sport Sedan Low Mile’s Ori...,5800,Reseda,excellent,90000,silver,clean,automatic,sedan
11,1992 BMW 325I 5 SPEED MANUAL CONVERTIBLE,3666,Van Nuys,like new,163965,black,salvage,manual,coupe
12,2013 BMW 535 M SPORT 5 SERIES CLEAN TITLE CLEA...,14900,NEWPORT BEACH,excellent,74500,black,clean,automatic,sedan
13,2009 bmw 135 msport,8750,santa clarita,salvage,73127,white,salvage,manual,coupe
14,2008 BMW 750LI,6500,VAN NUYS,good,106650,black,clean,automatic,sedan
15,BMW M4 COUPE ONLY 14K MILES BLACK ON BLAVK ❣❣❣,51900,Beverly Hills,like new,14000,black,clean,automatic,coupe
16,2012 BMW X5 3.5 TWIN TURBO,8800,Encino,like new,102000,blue,salvage,automatic,SUV
17,Bmw 650i gran coupe,22500,Van nuys,excellent,71000,black,clean,automatic,sedan
18,2008 BMW 10 cyn smg,20000,Los Angeles,excellent,101000,black,clean,manual,sedan
19,BMW X5,5500,N/A,like new,155019,red,clean,automatic,SUV
20,1995 BMW M3,17500,Hidden Hills,excellent,98000,yellow,clean,manual,coupe
21,2016 BMW 428i Gran Coupe 4D,19950,Marina Del Rey,like new,32000,black,clean,automatic,sedan
22,Low mileage 2004 BMW X5,3595,Lake Balboa,good,123524,silver,clean,automatic,SUV
23,2006 BMW 325i,3500,Palos Verdes,good,245905,grey,clean,manual,sedan
24,1991 BMW 850i 48k mi. Pristine Ultra Rare 1 Ow...,19000,Signal Hill,excellent,48880,black,clean,automatic,NaN
25,2007 BMW X5 4.8i -3rd row seats - 90k miles - ...,6800,CERRITOS,like new,97000,white,clean,automatic,SUV
26,Bmw 335i Marina Del Rey,5400,Marina Del Rey,excellent,160000,grey,clean,automatic,coupe
27,2015 BMW X3 xDrive28i SUV ** AWD - Clean Tit...,14750,Los angeles,excellent,77900,black,clean,automatic,SUV
28,2006 BMW 325ci convertible mint condition e46 ...,8000,Long Beach,like new,57124,blue,clean,automatic,convertible
29,2016 M5 Competition,52500,Beverly Hills,like new,29000,blue,clean,other,NaN
...,...,...,...,...,...,...,...,...,...
244,2003 BMW 745li for sale NEAR MINT CONDITION,6000,Studio City,excellent,97000,black,clean,automatic,sedan
245,2007 BMW X5,8900,Van Nuys,excellent,89836,silver,clean,automatic,SUV
246,1995 BMW E34 - 525i 5 Speed $4500 OBO,4500,Glassel Park,good,250000,green,clean,manual,sedan
247,2016 BMW M4 Coupe 6sp manual transmission,38990,N/A,like new,22000,white,salvage,manual,coupe
248,2006 BMW 330ci Convertible sports Pkg 85K Clea...,6800,Buena Park,excellent,85000,silver,clean,automatic,convertible
249,2003 BMW X5 149K Clean Title Premium Package,3800,Cypress,good,150000,grey,clean,automatic,SUV
250,1987 BMW E30 325i Automatic - $7200,7200,Los Angeles,excellent,130000,brown,clean,automatic,NaN
251,2003 BMW 530I for sale,6495,North Hollywood,excellent,85921,silver,clean,automatic,sedan
252,2008 BMW 650i,9000,Arcadia,excellent,119000,silver,clean,automatic,coupe
253,2012 BMW X5 3.5/V6,8800,Encino,like new,101000,blue,salvage,automatic,SUV
254,2003 BMW M3 Convertible,12800,Glendale,excellent,128000,black,clean,other,NaN
255,2016 BMW 528i- Warranty and Driver Assist Pack...,19500,Woodland Hills,excellent,49000,white,clean,automatic,sedan
256,2015 BMW Series 4 428i Coupe 2D M Sport,18495,Cheviot Hills,excellent,47000,black,clean,automatic,coupe
257,BMW - very low mileage!!!!!,22000,Los Angeles,like new,26000,black,clean,automatic,NaN
258,BMW 335i,8500,Washington and Vineyard,like new,110500,grey,clean,automatic,sedan
259,Beautiful BMW 330ci,4800,Los Angeles,good,117000,blue,clean,automatic,convertible
260,2016 BMW 528i M package,22300,Whittier,excellent,51456,white,clean,automatic,sedan
261,BMW 325i e30,8500,Los Angeles,like new,80000,red,clean,manual,convertible
262,1980 BMW 320i,4200,Los Angeles,good,215000,silver,clean,manual,coupe
263,"2007 BMW 328I - ONLY 80,000 MILES!! CLEAN TITL...",5550,Santa Clarita,excellent,80744,grey,clean,automatic,sedan
264,2014 BMW 3 Series 335i M Sport,20000,Redondo Beach,like new,70015,black,clean,automatic,sedan
265,2014 BMW i3 REX,9950,Beverly Hills,good,71000,black,rebuilt,automatic,hatchback
266,2014 BMW - 418i convertible,17999,Long Beach,good,54700,grey,clean,automatic,convertible
267,1998 BMW M Roadster,14995,Thousand Oaks,excellent,77000,black,clean,manual,convertible
268,2006 BMW 650I Convertible - Clean title - 88K ...,9500,Beverly Hills,excellent,88000,silver,clean,automatic,convertible
269,2015 BMW Dinan M6,62000,valencia,like new,19000,grey,clean,other,NaN
270,BMW M3 2002,25500,Burbank,excellent,73000,red,salvage,manual,coupe
271,BMW M3 VERY CLEAN FACTORY SUNROOF DELETE,19999,tarzana,like new,122705,blue,clean,manual,coupe
272,BMW - very low mileage!!!!!,22000,Los Angeles,like new,26000,black,clean,automatic,NaN
273,bmw 650 i 2008,12000,N/A,good,55840,white,clean,automatic,convertible

In [6]:
#drop any duplicate listing
df = bmw_df.drop_duplicates()

In [7]:
#print new distinct total of bmw listings
print("Total BMWs:", len(df))

Total BMWs: 252

In [8]:
# look at our info of our data
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 252 entries, 0 to 273
Data columns (total 9 columns):
Title           252 non-null object
Price           252 non-null object
Location        252 non-null object
Condition       252 non-null object
Mileage         252 non-null object
Color           252 non-null object
Car Status      252 non-null object
Transmission    252 non-null object
Car Type        223 non-null object
dtypes: object(9)
memory usage: 19.7+ KB

In [9]:
#describe method our data
df.describe()

,Title,Price,Location,Condition,Mileage,Color,Car Status,Transmission,Car Type
count,252,252,252,252,252,252,252,252,223
unique,242,142,118,5,201,11,3,3,7
top,1995 BMW M3,6500,N/A,excellent,26000,black,clean,automatic,sedan
freq,3,8,36,135,5,71,224,204,99

In [10]:
# export data into excel file
df.to_excel('WebMining_Craigslist_BMW.xls')

### Now we will use Tableau to explore, analyze, visualize, and draw conclusions...